# dependencies
node_modules/

# next.js
.next/
out/

# typescript
*.tsbuildinfo

# production
build/

# env files
.env
.env.local
.env.*.local

# debug
npm-debug.log*

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
